<!DOCUMENT html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
     <div id ="Home">
         <div class="form-box">
             <div class="button-box">
                 <div id="btn"></div>
                 <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                 <button type="button" class="toggle-btn" onclick="register()">Register</button>
             </div>

             <div class="soical-icons">
                 <a href="#"><i class="fa fa-facebook-square  fa-6"></i></a>
                 <a href="#"><i class="fa fa-google-plus-square fa-6"></i></a>
                 <a href="#"><i class="fa fa-twitter-square fa-6"></i></a>
             </div>

             <form id="login" class="input-group" th:action="@{/user/login}" th:object="${user}"  method="POST">
                 <input type="text" th:field="*{userPhone}" class="input-field" placeholder="User Phone" required/>
                 <input type="password" th:field="*{userPassword}" class="input-field" placeholder="Enter Password" required/>
                 <button type="submit" class="submit-btn">Log In</button>
             </form>

             <form id="register" class="input-group" th:action="@{/user/register}" th:object="${user}"  method="POST">
                 <input type="text" th:field="*{userPhone}" class="input-field" placeholder="User Phone" required />
                 <input type="text" th:field = "*{userName}" class="input-field" placeholder="Enter UserName" required />
                 <input type="text" th:field = "*{userPassword}" class="input-field" placeholder="Enter Password" required />
                 <input type="email"th:field = "*{userEmail} " class="input-field" placeholder="Enter Email" required />
                 <button type="submit" class="submit-btn">Register</button>
             </form>
         </div>

         <script>
             var x = document.getElementById("login");
             var y = document.getElementById("register");
             var z = document.getElementById("btn");

             function register() {
                 x.style.left = "-400px";
                 y.style.left = "50px";
                 z.style.left = "110px";
             }

             function login() {
                 x.style.left = "50px";
                 y.style.left = "450px";
                 z.style.left = "0";
             }

         </script>
     </div>

</body>
</html>